.App {
  text-align: center;
}

.App-Container {
  margin-left: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-Table-Input tr td {
  padding-left : 10px;
  padding-right : 10px;

}
.App-Table tr td {
  padding-left : 10px;
  padding-right : 10px;
  border: 1px solid black;
}
.Btn-Edit{
  background-color:#0085FC;
  color:#FFFFFF;
  margin-right:'10px';
}
.Btn-Remove{
  background-color:#DB2843;
  color:#FFFFFF;
}