.App {
  text-align: center;
}

.App-Container {
  margin-left: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Btn-Edit {
  background-color: #0085fc;
  color: #ffffff;
  margin-right: 10px;
}
.Btn-Remove {
  background-color: #db2843;
  color: #ffffff;
}

input[type="radio"] {
  margin-left: 0;
}

.Table-Center {
  display: table;
  margin: 0 auto;
}

.Table-Input tr td {
  padding-left: 10px;
  padding-right: 10px;
}

.Table-Border tr td {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  max-width: 50%;
}

/* paginate */
.react-paginate {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  align-items: center;
  justify-content: center;
}

.react-paginate li {
  border-radius: 16px;
}
.react-paginate li a {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;

  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}

.react-paginate li:hover {
  background-color: transparent;
  cursor: default;
}
.react-paginate li:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.react-paginate li.selected {
  background-color: grey;
  color: white;
}

.react-paginate li.disabled {
  pointer-events: none;
}

.react-paginate li.arrow a::before {
  position: relative;
  /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
  content: "";
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-right: 0.12em solid black;
  border-top: 0.12em solid black;
}

.react-paginate li.arrow.left a {
  transform: rotate(-135deg) translate(0);
}

.react-paginate li.arrow.right a {
  transform: rotate(45deg);
}
